@mixin style-reset {
  padding: 0;
  margin: 0;
}

@mixin list-reset {
  @include style-reset;

  list-style: none;
}

@mixin visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@mixin hover {
  &:hover {
    cursor: pointer;
    color: $color-accent;
  }
}

@mixin mainNavLink {
  font-family: $font-family-additional;
  color: $color-brand;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  padding-top: 15px;
  padding-bottom: 15px;

  @include tablet {
    font-family: $font-family;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 10px;

    .pageHeader_scroll & {
      color: $color-brand;
    }

    @include hover;

    &:focus {
      color: $color-accent;
    }
  }

  @include desktop {
    color: #ffffff;
    font-weight: 700;
    transition: color $transition-2;
 
  }

  @include desktop-lg {
    padding: 5px 10px;
  }
}