$tablet: 768px;
$desktop: 1200px;
$desktop-lg: 1440px;

$min-width: 320px;
$max-width: 1440px;

$padding-desktop-lg: 120px;
$padding-desktop: 70px;
$padding-mobile: 20px;

$font-family: "Roboto", "Arial", sans-serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 130%;

$transition-2: 0.2s ease;
$transition-3: 0.3s ease;

$main-background: #ffffff;
$additional-background: #F2F4FB;

$color-brand: #001489;
$color-text: #000000;
$color-accent: #ffb100;
$color-bacground-main: #eeeeee;


