.bb-slider {
  width: 100%;
}

.bb-slider__swiper-container {
  box-sizing: border-box;
  padding-bottom: 20px;
}

.bb-slider__swiper-slide {
  box-sizing: border-box;
}

.bb-slider__top {
  position: relative;
}

.bb-slider__img {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  img {
    width: 100%;
  }
}

.bb-slider__btn {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 2;
  background-color: $main-background;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  transform: translateY(-50%);
  border: 1px solid $color-brand;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all $transition-2;

  &:hover,
  &:focus {
    background-color: rgba($color-accent, 0.7);
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }

  @include tablet {
    display: flex;
  }

  &_prev {
    left: -10px;

    @include tablet {
      left: -15px;
    }
  }

  &_next {
    right: -10px;
    transform: translateY(-50%) rotate(180deg);

    @include tablet {
      right: -15px;
    }
  }
}

.bb-slider__btn.swiper-button-disabled {
  @include tablet {
    display: none;
  }
}

.bb-slider__swiper-pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}