.big-bags {
  width: 100%;
}

.big-bags__lid {
  @include style-reset;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 32px;
}

.big-bags__list {
  @include list-reset;

  margin-left: -$padding-mobile;
  margin-right: -$padding-mobile;
  padding-left: $padding-mobile;

  display: flex;
  overflow-x: auto;

  @include tablet {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    overflow-x: hidden;
    justify-content: space-between;
  }
}

.big-bags__item {
  width: 240px;
  flex-shrink: 0;
  display: flex;

  @include tablet {
    flex-shrink: 1;
    width: 30%;
    max-width: 300px;
  }
}

.big-bags__item + .big-bags__item {
  margin-left: 25px;
  
  @include tablet {
    margin-left: 10px;
  }
}