.breadcrumbs {
  @include list-reset;

  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  
  a {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
  }

  a[href] {
    opacity: 1;
    padding-right: 12px;
    position: relative;

    &::after {
      display: block;
      content: ">";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
      height: 9px;
      line-height: 9px;
    }

    @include desktop {
      @include hover;

      &:hover::after {
        color: #ffffff;
      }
    }
  }

  span {
    font: inherit;
    color: #ffffff;
    opacity: 0.7;
    padding: 5px;
  }

  a[href] span {
    opacity: 1;
  }
}