.btn {
    @include style-reset;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: $additional-background;
    color: $color-brand;
    min-height: 50px;
    outline: none;
    border: 1px solid $color-brand;
    border-radius: 8px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    transition: all $transition-2;
    
    @include tablet {
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
       
        &:hover {
            cursor: pointer;
            opacity: 0.8;
            color: $color-brand-main;
            border-color: $color-brand-main;
        }

        &:active {
            opacity: 0.4;
        }
    }

    &_ghost {
        background-color: transparent;
        color: #ffffff;
        border-color: #ffffff;

        @include tablet {
            &:hover {
                opacity: 1;
                background-color: $color-accent;
                color: $color-brand;
                border-color: $color-brand;
            }

            &:active {
                opacity: 0.4;
            }
        }
     }
 
     &_white {
         background-color: #ffffff;
     }

     &_full {
         @include tablet {
             width: 100%;
         }
     }

     &_primary {
         background-color: $color-brand;
         color: #ffffff;
         border: 1px solid $color-brand;

         @include tablet {
             &:hover,
             &:focus {
                 color: $color-brand;
                 background-color: $color-accent;
             }
         }
     }
}

.btn__icon {
    margin-right: 15px;
}