.formArea {
  display: block;
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 12px 11px 11px;
    
    color: #ffffff;
    background: transparent;
    border: 1px solid $color-input-border;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color $transition-2;

    &:hover,
    &:focus {
      color: #ffffff;
      border-color: $color-accent;
      background: transparent;
    }

    &::placeholder {
      opacity: 1;
      color: #ffffff;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px $color-brand inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
  }

  &_error {
    input {
      border: 1px solid #ff6955;
    }


    .formArea__error {
      display: block;
      text-align: right;
    }
  }
  
  &_textarea {
    margin-top: 25px;
  }
}

.formArea__label {
  display: block;
  color: #ffffff;
  margin-bottom: 5px;
}

.formArea__error {
  display: none;
  color: #ff6955;
  margin-bottom: -14px;
  font-size: 14px;
  line-height: 14px;
}

.formArea_gray {
  .formArea__label {
    color: $color-brand-main;
  }

  input {
    color: $color-text;
    border: 1px solid $color-input-border;
    background-color: $additional-background;

    &:hover,
    &:focus {
      color: $color-text;
      border-color: $color-brand;
    }

    &::placeholder {
      opacity: 1;
      color: $color-placehholder;
    }
  }


  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px $additional-background inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: $color-text !important;
  }
}

.formArea_gray.formArea_error,
.formArea_calc.formArea_error {
  input {
    border: 1px solid #ff6955;
  }
}

.formArea_calc {
  .formArea__label {
    color: #37474f;
  }

  input,
  textarea {
    width: 100%;
    color: #37474f;
    border: 1px solid $color-input-border;
    background-color: $additional-background;

    &:hover,
    &:focus {
      color: #37474f;
      border: 1px solid #2196f3;
    }

    &::placeholder {
      opacity: 1;
      color: $color-placehholder;
    }
  }

  textarea {
    border-radius: 4px;
    resize: none;
    padding: 12px 11px 11px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px $additional-background inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: $color-text !important;
  }
}

.formArea_calc input:focus,
.formArea_calc textarea:focus {
  background-color: #eff2f3 !important;
  border: 1px solid #2196f3;
  color: #37474f;
  outline: 0;
}
