.form {
  width: 100%;

  &_succes {
    .form__main {
      display: none;
    }

    .form__success {
      display: block;
    }
  }
}

.form__area + .form__area {
  margin-top: 25px;
}

.form__btn {
  margin-top: 35px;
}

.form__success {
  display: none;

  p {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
  }
}