.form {
  width: 100%;
  height: 345px;

  &_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_success {
    .form__main {
      display: none;
    }

    .form__success {
      display: block;
    }
  }
}

.form__area + .form__area {
  margin-top: 25px;
}

.form__btn {
  margin-top: 35px;
}

.form__main {
  width: 100%;
}

.form__success {
  display: none;

  p {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
  }
}