.mainNav {
  width: 100%;

  @include tablet {
    flex-grow: 1;
    max-width: 560px
  }

  @include desktop {
    max-width: 660px;
  }
}

.mainNav__list {
  @include list-reset;

  @include tablet {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include desktop {
    // justify-content: space-between;
  }
}

.mainNav__item {
  border-top: 1px solid rgba($color-brand, 0.1);

  &:first-child {
    border: none;
  }

  @include tablet {
    border: none;
  }
}

.mainNav__link {
  @include mainNavLink;

  display: block;
  width: 100%;
}

.pageHeader_inner .mainNav__link,
.pageHeader_scroll .mainNav__link {
  @include tablet {
    @include hover;
    color: $color-brand;

    &:focus {
      color: $color-accent;
    }
  }
}