.pageGrid {
  overflow: hidden;

  &_gray {
    background-color: $additional-background;
  }

  &_target {
    padding-top: 85px;
    margin-top: -85px;
  }
}

.pageGrid__layout {
  width: 100%;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  position: relative;

  @include desktop {
    max-width: $max-width;
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop-lg {
    padding-left: $padding-desktop-lg;
    padding-right: $padding-desktop-lg;
  }

  &_decor  {
    @include tablet {
      padding-right: 0;
      margin-bottom: 40px;
    }
  }
}

.pageGrid__wrapper {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.pageGrid__main {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    width: 60%;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.pageGrid__content {
  p {
    @include style-reset;
  }

  ul {
    margin-bottom: 0;

    li + li {
      margin-top: 8px;
    }
  }

  * + *,
  * + p {
    margin-top: 16px;
  }

  .pageGrid__row + .pageGrid__row {
    margin-top: 32px;
  }
}

.pageGrid__saidbar {
  width: 100%;
  flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    width: 300px;
    border-left: 1px solid $color-brand;
  }

  &_no-border {
    border: none;
  }

  &_pic {
    @include tablet {
      width: 400px;
      margin-right: 15px;
    }
    @include desktop {
      width: 450px;
    }
  }

  // &_decor {
  //   width: 400px;
  //   @include tablet {
  //     position: relative;

  //     &::after {
  //       display: block;
  //       width: 100vw;
  //       height: calc(100% - 50px);
  //       position: absolute;
  //       top: 0;
  //       left: 20px;
  //       content: "";
  //       background-color: $additional-background;
  //       border-radius: 30px 0 0 30px;
  //       box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.07);
  //       z-index: -1;
  //     }
  //   }
  // }

}

.pageGrid__header {
  width: 100%;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 32px;

  &::after {
    content: "";
    width: 200%;
    height: 2px;
    background-color: $color-brand-main;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
  }

  h1, h2 {
    @include style-reset;
    color: $color-brand;
  }
}

.pageGrid__sidebarHeader {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 32px;

  h2,
  p {
    @include style-reset;
  }
}

.pageGrid__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.pageGrid__saidbar_pic {
  .pageGrid__sidebarBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}