.promo {
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  z-index: 0;
  overflow: hidden;
  position: relative;

  &_calc {
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: $padding-mobile;
    padding-bottom: 50px;

    @include tablet {
      padding-top: 150px;
      padding-bottom: 150px;
    }

    @include desktop {
      padding-left: $padding-desktop;
      padding-right: $padding-desktop;
    }

    @include desktop-lg {
      padding-left: $padding-desktop-lg;
      padding-right: $padding-desktop-lg;
    }
  }

  &_inner {
    min-height: auto;
    margin-bottom: 40px;
    background-image: url('/img/promo-inner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      opacity: 0.5;
    }
  }
}

.promo__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 115px;
  padding-bottom: 35px;
  z-index: 1;
  width: 100%;

  @include tablet {
    padding-top: 140px;

  }
}

.promo__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    z-index: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.7;
  }
}

.promo__link {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all $transition-2;
  z-index: 1;

  background: center no-repeat url("../img/svg/arrow-rounded.svg");

  @include desktop {
    bottom: 30px;

    &:hover,
    &:focus {
      transform: translateX(-50%) scale(1.2);
    }
  }
}

.promo__breadcrumbs {

  @include tablet {
    margin-bottom: 24px;
  }

  .promo_calc & {
    margin-bottom: 12px;
  }
}

.promo__calc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__lid {
  @include style-reset;

  display: none;
  color: rgba(#ffffff, 0.7);
  margin-bottom: 20px;
  position: relative;

  @include tablet {
    display: block;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 35px;
    
    &::after {
      content: "";
      display: block;
      width: 100vw;
      height: 2px;
      background-color: #ffffff;
      opacity: 0.7;
      position: absolute;
      bottom: -10px;
      left: -$padding-mobile;
    }
  }

  @include desktop {
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 55px;

    &::after {
      width: 140%;
      left: 0;
    }
  }
}

.promo__title {
  @include style-reset;

  color: #ffffff;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 32px;

  span {
    color: $color-accent;

    @include tablet {
      display: block;
    }
  }

  b {
    color: $color-accent;
  }

  @include tablet {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 35px;
  }

  @include desktop {
    font-size: 65px;
    line-height: 67px;
    margin-bottom: 55px;
  }

  &_row {
    position: relative;
    display: inline-block;

    &::after {
      width: 100vw;
      height: 3px;
      background-color: $color-accent;
      display: block;
      content: "";
      position: absolute;
      right: 0;
      bottom: -5px;
    }
  }
}

.promo_inner {
  .promo__title {
    margin: 0;
  }

  .promo__breadcrumbs {
    margin-bottom: 8px;
  }

  .promo__container {
    padding-bottom: 45px;
  }
}

.promo__desc {
  @include style-reset;

  color: #ffffff;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 20px;

  @include tablet {
    max-width: 70%;
    font-size: 22px;
    line-height: 26px;
  }


  @include desktop {
    max-width: 700px;
  }
}

.promo__btnGroup {
  margin-top: auto;
  margin-bottom: 50px;

  @include tablet {
    margin-top: 45px;
  }
}
