.telGroup {
  width: 100%;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
  font-family: $font-family-additional;

  @include tablet {
    width: 32px;
    height: 32px;
    position: relative;
    margin-top: 0;
    flex-shrink: 0;
    margin-left: 15px;
  }

  @include desktop {
    width: 255px;
    height: auto;
    margin-left: 25px;
  }

  input {
    @include visuallyHidden;

    @include tablet {
      &:checked ~ .telGroup__toggle {
        svg {
          fill: $color-accent;
        }
      }

      &:checked ~ .telGroup__list {
        display: block;
      }
    }
  }
}

.telGroup__list {
  @include list-reset;

  @include tablet {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    background-color: $color-bacground-main;
    width: 270px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-brand;

    &::after {
      display: block;
      width: 10px;
      height: 10px;
      border: 1px solid $color-bacground-main;
      border-left: 1px solid $color-brand;
      border-top: 1px solid $color-brand;
      position: absolute;
      top: -5px;
      right: 10px;
      content: "";
      background-color: $color-bacground-main;
      transform: rotate(45deg);
    }
  }

  @include desktop {
    display: block;
    position: static;
    padding: 0;
    background-color: transparent;
    border: none;

    &::after {
      display: none;
    }
  }
}

.telGroup__toggle {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }

}

.telGroup__icon {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  line-height: 0;

  svg {
    transition: fill $transition-2;
    fill: #ffffff;
  }

  @include tablet {
    cursor: pointer;

    &:hover {
      svg {
        fill: $color-accent;
      }
    }
  }

  .pageHeader_scroll & {
    svg {
      transition: none;
      fill: $color-brand;
    }
  }

  .pageHeader_inner & {
    svg {
      fill: $color-brand;
    }
  }
}

.telGroup__item {
  display: flex;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;

  @include tablet {
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-end;
  }

  p {
    @include tablet {
      color: $color-text;
      font-size: 14px;
    }

    @include desktop {
      color: #ffffff;
    }
  }

  a {
    color: $color-brand;
    font-weight: 700;
    text-decoration: underline;

    @include tablet {
      color: $color-text;

      @include hover;
    }

    @include desktop {
      color: #ffffff;
    }
  }
}

.telGroup__item p {
  @include style-reset;
  margin-right: 10px;
}

.pageHeader_inner .telGroup__item,
.pageHeader_scroll .telGroup__item {
  p {
    @include tablet {
      color: #000000;
    }
  }

  a {
    @include tablet {
      color: $color-brand;
      @include hover;
    }
  }
}