.uk-table
{
	border-collapse: collapse;
	border-spacing: 0;
  margin-bottom: 20px;
  width: 768px;
  
  @include tablet {
    width: 100%;
  }
}
*+.uk-table
{
	margin-top: 20px;
}
.uk-table th
{
	color: #999;
	font-size: .65rem;
	font-weight: 400;
	padding: 16px 12px;
	text-align: left;
	text-transform: uppercase;
	vertical-align: bottom;
}
.uk-table td
{
	padding: 16px 12px;
	vertical-align: top;
}
.uk-table td>:last-child
{
	margin-bottom: 0;
}
.uk-table tfoot
{
	font-size: .875rem;
}
.uk-table caption
{
	color: #999;
	font-size: .875rem;
	text-align: left;
}
.uk-table-middle,.uk-table-middle td
{
	vertical-align: middle!important;
}
.uk-table-divider>:first-child>tr:not(:first-child),.uk-table-divider>:not(:first-child)>tr,.uk-table-divider>tr:not(:first-child)
{
	border-top: 1px solid #e5e5e5;
}
.uk-table-striped tbody tr:nth-of-type(odd),.uk-table-striped>tr:nth-of-type(odd)
{
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.uk-table-hover tbody tr:hover,.uk-table-hover>tr:hover
{
	background: #ffd;
}
.uk-table tbody tr.uk-active,.uk-table>tr.uk-active
{
	background: #ffd;
}
.uk-table-small td,.uk-table-small th
{
	padding: 10px 12px;
}
.uk-table-large td,.uk-table-large th
{
	padding: 22px 12px;
}

.uk-table-shrink
{
	width: 1px;
}
.uk-table-expand
{
	min-width: 150px;
}
.uk-table-link
{
	padding: 0!important;
}
.uk-table-link>a
{
	display: block;
	padding: 16px 12px;
}
.uk-table-small .uk-table-link>a
{
	padding: 10px 12px;
}
@media (max-width:999px)
{
	.uk-table-responsive,.uk-table-responsive tbody,.uk-table-responsive td,.uk-table-responsive th,.uk-table-responsive tr
	{
		display: block;
	}
	.uk-table-responsive thead
	{
		display: none;
	}
	.uk-table-responsive td,.uk-table-responsive th
	{
		max-width: none!important;
		min-width: 0!important;
		overflow: visible!important;
		white-space: normal!important;
		width: auto!important;
	}
	.uk-table-responsive .uk-table-link:not(:first-child)>a,.uk-table-responsive td:not(:first-child):not(.uk-table-link),.uk-table-responsive th:not(:first-child):not(.uk-table-link)
	{
		padding-top: 5px!important;
	}
	.uk-table-responsive .uk-table-link:not(:last-child)>a,.uk-table-responsive td:not(:last-child):not(.uk-table-link),.uk-table-responsive th:not(:last-child):not(.uk-table-link)
	{
		padding-bottom: 5px!important;
	}
	.uk-table-justify.uk-table-responsive td,.uk-table-justify.uk-table-responsive th
	{
		padding-left: 0;
		padding-right: 0;
	}
}
.uk-table tbody tr
{
	transition: background-color .1s linear;
}
