<footer class="page__footer pageFooter">
  <div class="page__container">
    <div class="pageFooter__row">
      <div class="pageFooter__block">
        <h2 class="pageFooter__blockTitle">Продукция:</h2>
        <ul class="pageFooter__list">
          <li>
            <a class="pageFooter__link" href="/big-begi/">Биг-беги (МКР)</a>
          </li>
          <li>
            <a class="pageFooter__link" href="/meshki/">ПП Мешки</a>
          </li>
          <li>
            <a class="pageFooter__link" href="/plenka/">Стрейч пленка</a>
          </li>
          <li>
            <a class="pageFooter__link" href="/perchatki/">Перчатки ХБ</a>
          </li>
          <li>
            <a class="pageFooter__link" href="/setka/">Обощная сетка</a>
          </li>
        </ul>
      </div>
      <div class="pageFooter__block">
        <h2 class="pageFooter__blockTitle">Контакты в Москве:</h2>
        <ul class="pageFooter__list">
          <li>
            <button class="badge" type="button">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-point"></use>
                </svg>
              </span>
              <span class="badge__text">г. Москва ул. Староалексеевская, дом 5</span>
            </button>
          </li>
          <li>
            <button class="badge" type="button">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-phone"></use>
                </svg>
              </span>
              <span class="badge__text">г. Москва, Щербинка, ул. Южная д. 20</span>
            </button>
          </li>
          <li>
            <a class="badge mgo-number" href="tel:+78003332608">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-phone"></use>
                </svg>
              </span>
              <span class="badge__text">8 800 333-26-08</span>
            </a>
          </li>
          <li>
            <a class="badge" href="mailto:sales.msk@tarpak.ru">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-email-small"></use>
                </svg>
              </span>
              <span class="badge__text">sales.msk@tarpak.ru</span>
            </a>
          </li>
          <li>
            <a class="badge" href="mailto:info@tarpak.ru">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-email-small"></use>
                </svg>
              </span>
              <span class="badge__text">info@tarpak.ru</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="pageFooter__block">
        <h2 class="pageFooter__blockTitle">Контакты в Арамиле:</h2>
        <ul class="pageFooter__list">
          <li>
            <button class="badge" type="button">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-point"></use>
                </svg>
              </span>
              <span class="badge__text">г. Арамиль, ул. Ленина д. 40</span>
            </button>
          </li>
          <li>
            <a class="badge mgo-number" href="tel:+78003332608">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-phone"></use>
                </svg>
              </span>
              <span class="badge__text">8 800 333-26-08</span>
            </a>
          </li>
          <li>
            <a class="badge" href="mailto:info@tarpak.ru">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-email-small"></use>
                </svg>
              </span>
              <span class="badge__text">sales.ekb@tarpak.ru</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="pageFooter__block">
        <h2 class="pageFooter__blockTitle">Контакты в Екатеринбурге:</h2>
        <ul class="pageFooter__list">
          <li>
            <a class="badge mgo-number" href="tel:+78003332608">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-phone"></use>
                </svg>
              </span>
              <span class="badge__text">8 800 333-26-08</span>
            </a>
          </li>
          <li>
            <a class="badge" href="mailto:info@tarpak.ru">
              <span class="badge__icon">
                <svg width="20px" height="20px">
                  <use xlink:href="#icon-email-small"></use>
                </svg>
              </span>
              <span class="badge__text">sales.ekb@tarpak.ru</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pageFooter__row">
      <div class="pageFooter__block">
        <div class="pageFooter__logo">
          <a href="/">
            <picture>
              <img src="/img/logo/logo-white.png" srcset="/img/logo/logo-white.png 1x, /img/logo/logo-white@2x.png 2x" width="105" height="50" alt="Тарпак" title="Тарпак">
            </picture>
          </a>
          <p class="pageFooter__copyright">© 2016-2021 компания Тарпак</p>
        </p>
      </div>
    </div>
    <div class="pageFooter__block">
    </div>
    <div class="pageFooter__block">
    </div>
    <div class="pageFooter__block">
      <h2 class="pageFooter__blockTitle">Мы в социальных сетях:</h2>
      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="https://www.instagram.com/tarpak2020/" aria-label="Наш инстаграмм">
            <svg width="21px" height="21px">
              <use xlink:href="#icon-insta"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>